<a href="https://colab.research.google.com/github/devenzo35/spark_demo/blob/main/spark_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

# Create Spark Session

In [8]:
from pyspark.sql import  SparkSession
from pyspark import SparkContext

spSession = SparkSession.builder.appName('Demo Spark').getOrCreate()
spContext = spSession.sparkContext

# Data load

In [9]:
data = spSession.read.csv('/cars.csv', header=True, sep=';')
data.show(5)

+--------------------+------+---------+------------+----------+------+------------+-----+------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

# Analysis functions

In [10]:
data.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [11]:
data.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

# Select data

In [12]:
from os import truncate
data.select('Car').show(truncate=False)

+--------------------------------+
|Car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

In [13]:
data.select(data['car']).show(truncate=False)

+--------------------------------+
|car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

In [15]:
data.select(data['car'], data['cylinders']).groupBy('cylinders').count().show(truncate=False)

+---------+-----+
|cylinders|count|
+---------+-----+
|3        |4    |
|8        |108  |
|5        |3    |
|6        |84   |
|INT      |1    |
|4        |207  |
+---------+-----+

# Add columns

In [23]:
from pyspark.sql.functions import lit

df = data.withColumn('first_column', lit(1)).withColumn('second_Column', lit('first_colummn'))
df.show(10)

+--------------------+------+---------+------------+----------+------+------------+-----+------+------------+-------------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|first_column|second_Column|
+--------------------+------+---------+------------+----------+------+------------+-----+------+------------+-------------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|           1|first_colummn|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|           1|first_colummn|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|           1|first_colummn|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|           1|first_colummn|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|           1|first_colummn|
|         Ford Torino|  17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|           1|first_colummn|
|    Ford Galaxie 500|  15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|           1|first_colummn|
|    Chevrolet Impala|  14.0|        8|       454.0|     220.0| 4354.|         9.0|   70|    US|           1|first_colummn|
|   Plymouth Fury iii|  14.0|        8|       440.0|     215.0| 4312.|         8.5|   70|    US|           1|first_colummn|
|    Pontiac Catalina|  14.0|        8|       455.0|     225.0| 4425.|        10.0|   70|    US|           1|first_colummn|
+--------------------+------+---------+------------+----------+------+------------+-----+------+------------+-------------+
only showing top 10 rows

In [21]:
# Delete columns

In [27]:
df = df.drop('first_column')

In [29]:
df.show(10, truncate=False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|second_Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |first_colummn|
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |first_colummn|
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |first_colummn|
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |first_colummn|
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |first_colummn|
|Ford Torino              |17.0  |8        |302.0       |140.0     |3449. |10.5        |70   |US    |first_colummn|
|Ford Galaxie 500         |15.0  |8        |429.0       |198.0     |4341. |10.0        |70   |US    |first_colummn|
|Chevrolet Impala         |14.0  |8        |454.0       |220.0     |4354. |9.0         |70   |US    |first_colummn|
|Plymouth Fury iii        |14.0  |8        |440.0       |215.0     |4312. |8.5         |70   |US    |first_colummn|
|Pontiac Catalina         |14.0  |8        |455.0       |225.0     |4425. |10.0        |70   |US    |first_colummn|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+
only showing top 10 rows

# Group columns

In [41]:
top_five_power=df.orderBy('Horsepower', ascending=False).show(5)

+------------+------+---------+------------+----------+------+------------+-----+------+-------------+
|         Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|second_Column|
+------------+------+---------+------------+----------+------+------------+-----+------+-------------+
|      STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|first_colummn|
| Volvo 244DL|  22.0|        4|       121.0|     98.00| 2945.|        14.5|   75|Europe|first_colummn|
|Ford Grenada|  18.5|        6|       250.0|     98.00| 3525.|        19.0|   77|    US|first_colummn|
|  Datsun 710|  24.0|        4|       119.0|     97.00| 2545.|        17.0|   75| Japan|first_colummn|
|  AMC Hornet|  18.0|        6|       199.0|     97.00| 2774.|        15.5|   70|    US|first_colummn|
+------------+------+---------+------------+----------+------+------------+-----+------+-------------+
only showing top 5 rows

In [47]:
country_leader=df.groupBy('origin').count().orderBy('count', ascending=False).show(1)

+------+-----+
|origin|count|
+------+-----+
|    US|  254|
+------+-----+
only showing top 1 row

# Filtering columns

In [54]:
europe_production= df.filter((df['origin']=='Europe')&(df['horsepower']==115.0)).count()
print(europe_production)

3